.wrapper {
  border-radius: var(--border-radius-6);
  background-color: var(--bg-dark);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  & .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .link {
      text-decoration: underline;
    }
  }
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &Item {
    display: flex;
    padding: 10px 20px;
    background-color: var(--bg);
    border-radius: var(--border-radius-5);
  }
}